.link-cards {
    @media screen and (min-width: $medium-screen-size) {
        grid-column: 1 / 2;
        display: flex;
    }
}

.link-card {   
    max-width: 480px;

    @media screen and (min-width: $medium-screen-size) {
        padding: 0;
        margin: 0;
    }

    a {
        color: $byui-blue;
        font-family: $font-family;
        text-decoration: none;
    }

    figure {
        margin: 0;
        width: 100%;
        height: auto;
        border: 1px solid $med-gray;
    }

    figcaption {
        padding: 6px 12px;
    }

    &__icon::after {
        font-style: normal;
        font-weight: 400;
    }
}