.site-banner {
    display: flex;
    justify-content: space-between;
    background-color: $byui-blue;
    height: 60px;
    position: relative;

    &__left {
        a {
            display: block;
            background-color: $black;
            color: $white;
            text-decoration: none;
            font-size: 30px;
            margin: auto;
            padding: 14px 10px;
            height: 100%;
        }
    }

    &__right {
        padding-right: 14px;

        a {
            display: inline-block;
            color: white;
            font-size: 30px;
            padding: 14px 5px;
            text-decoration: none;
        }
    }
}
