/*********************
 * Color Palette: 
 *   ###https://coolors.co/0c1618-004643-faf4d3-d1ac00-f6be9a
 *   https://coolors.co/394648-69995d-cbac88-edb6a3-f8e9e9
 *
 *********************/

:root {
  --color1: #394648;
  --color2: #69995d;
  --color3: #cbac88;
  --color4: #edb6a3;
  --color5: #f8e9e9;

  --header-background: var(--color1);
  --header-color: var(--color2);
  --heading-text-color: black;
  --nav-active-background: var(--color3);
  --nav-background: var(--color1);
  --nav-hover-background: var(--color4);
  --main-background: var(--color3);
}

/*********************
 * Body
 *********************/
body {
  font-family: 'Montserrat', sans-serif;
  max-width: 930px;
  margin: 0 auto;
}

a, a:visited {
  color: white;
}

h1,
h2,
h3,
h4 {
  color: var(--heading-text-color);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0.5rem;
}

ol {
  margin-bottom: 0;
  padding-bottom: 1rem;
}

.center {
  text-align: center;
}

/*********************
 * Header
 *********************/
header {
  background-color: var(--header-background);
  border-bottom: 1px black solid;
  color: white;  
}

header h1 {
  color: var(--header-color);
  text-align: center;
}

/*********************
 * Navigation
 *********************/
nav ul {
  background-color: var(--nav-background);
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.50rem;
  text-decoration: none;
  font-size: 0.95rem;
}

nav a:hover {
  background-color: var(--nav-hover-background);
  color: black;
  font-weight: bold;
}

nav a.nav-active:visited {
  color: white;
  font-weight: bold;
}

.nav-active {
  background-color: var(--nav-active-background);
  color: black;
  font-weight: bold;
}

/*********************
 * Main
 *********************/
main {
  background-color: var(--main-background);
  border-bottom: 1px black solid;
}

/*********************
 * Tables
 *********************/
table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 7px;
}

th {
  color: var(--heading-text-color);
}

th,
tr,
td {
  border: 1px solid black;
  padding: 7px;
}

section {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.color1 {
  background-color: var(--color1);
  color: white;
}

.color2 {
  background-color: var(--color2);
  color: white;
}

.color3 {
  background-color: var(--color3);
}

.color4 {
  background-color: var(--color4);
}

.color5 {
  background-color: var(--color5);
}

.color-main-background {
  font-weight: bold;
}

.color-header {
  background-color: var(--header-background);
  color: var(--heading-text-color);
  font-weight: bold;
}

.color-headings {
  color: var(--heading-text-color);
  font-weight: bold;
}

.color-active-navigation {
  background-color: var(--nav-active-background);
  color: black;
  font-weight: bold;
}

.color-inactive-navigation {
  background-color: var(--nav-background);
  color: white;
}

/*********************
 * Footer
 *********************/
footer {
  background-color: var(--header-background);
  color: white;
  text-align: center;
}