/*********************
 * Color Palette: 
 *   https://coolors.co/f08700-f49f0a-efca08-00a6a6-bbdef0
 *   https://coolors.co/f4f1de-e07a5f-3d405b-81b29a-f2cc8f
 *   https://coolors.co/0c1618-004643-faf4d3-d1ac00-f6be9a
 *   https://coolors.co/12130f-5b9279-8fcb9b-eae6e5-8f8073 (Nature)
 *   https://coolors.co/563635-5b6057-6e9075-78c091-81f0e5 (Forest)
 *********************/

/*********************
 * Body
 *********************/
body {
  font-family: 'Montserrat', sans-serif;
  max-width: 930px;
  margin: 0 auto;
}

/*********************
 * Navigation
 *********************/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li a {
  display: block;
  /*color: #fff;*/
  text-align: center;
  padding: 0.50rem;
  text-decoration: none;
  font-size: 0.95rem;
}

nav a:hover {
  background-color: #bbb;
  color: #36454f;
}

/*********************
 * Table
 *********************/
table {
  border-collapse: collapse;
}

tr, td {
  border: 1px solid black;
}