/*********************
 * Color Palette: 
 *   https://coolors.co/0c1618-004643-faf4d3-d1ac00-f6be9a
 *
 *********************/

/*********************
 * Body
 *********************/
body {
  font-family: 'Montserrat', sans-serif;
  max-width: 930px;
  margin: 0 auto;
}

h2, h3, h4 {
  color: #004643;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0.5rem;
}

ol {
  margin-bottom: 0;
  padding-bottom: 1rem;
}

.center {
  text-align: center;
}

/*********************
 * Header
 *********************/
header {
  background-color: #004643;
  color: #f6be9a;
}

h1 {
  text-align: center;
}

/*********************
 * Navigation
 *********************/
nav ul {
  background-color: #0c1618;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 0.50rem;
  text-decoration: none;
  font-size: 0.95rem;
}

nav a:hover {
  background-color: #faf4d3;
  color: black;
}

.nav-active {
  background-color: #d1ac00;
  color: black;
}

/*********************
 * Main
 *********************/
main {
  background-color: #faf4d3;
}

/*********************
 * Tables
 *********************/
table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 7px;
}

th {
  color: #004643;
}

th,
tr,
td {
  border: 1px solid black;
  padding: 7px;
}

section {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.color1 {
  background-color: #0c1618;
  color: white;
}

.color2 {
  background-color: #004643;
  color: white;
}

.color3 {
  background-color: #faf4d3;
}

.color4 {
  background-color: #d1ac00;
}

.color5 {
  background-color: #f6be9a;
}

/*********************
 * Footer
 *********************/
footer {
  background-color: #004643;
  color: #f6be9a;
  text-align: center;
}