/* Color Palette: 
 *   https://coolors.co/73683b-583e23-13262f-b0a084-e9e6ff 
 */

 @import url('https://fonts.googleapis.com/css?family=Roberto|Concert+One');

#content {
  color: #583E23;
  font-family: Roberto, Arial, sans-serif;
  max-width: 720px;
  margin: 0 auto;
}

footer a:link,
footer a:visited,
footer a:hover,
footer a:active {
  color: #E9E6FF;
}

footer {
  background-color: #13262F;
  color: #E9E6FF;
  font-size: 0.9em;
  padding: 10px 0 10px 0;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Concert One", Helvetica, sans-serif;
}

header {
  background-color: #13262F;
  color: #E9E6FF;
  text-align: center;
}

header h1 {
  margin: 0 0 0 0;
}

main h2 {
  font-size: 1.2em;
}

main ul {
  padding-inline-start: 20px;
}

.last-updated {
  color: #B0A084;
  font-size: 0.8em;
}

.title {
  margin-bottom: -7px;
}

.title-underline {
  margin-bottom: -10px;
}