/*********************
 * Color Palette: https://coolors.co/253031-315659-2978a0-bcab79-c6e0ff 
 *********************/

/*********************
 * Body
 *********************/
 body {
  font-family: 'PT Sans', sans-serif; 
  max-width: 930px;
  margin: 0 auto;
}

/*********************
 * Header
 *********************/
h1, h2, h3, h4 {
  margin: 0;
}

.header {
  background-color: #253031;
  color: #E9E6FF;
  margin-bottom: 7px;
  padding: 10px 0 10px 0;
  text-align: center;
}

/*********************
 * Main
 *********************/
main {
  display: grid;  
  grid-template-columns: 1fr;
}

article {
  background-color: #bcab79;
  border-radius: 10px;
  color: #253031;
  margin: 0 7px 10px 7px;
  /*outline: 1px solid #315659;*/
}

img {
  height: auto;
  outline: 1px solid #315659;
  width: 100%;
}

.article-header {
  background-color: #253031;
  border-radius: 10px 10px 0 0;
  color: #E9E6FF;
  padding: 10px;
}

.article-content {
  padding: 7px;
}

/*********************
 * Footer
 *********************/
footer {
  background-color: #253031;
  color: #E9E6FF;
  font-size: 0.8em;
  padding: 10px 0 10px 0;
  text-align: center;
}
