img {  
  filter: blur(0.5em);
  height: 400px;
  width: 300px;
}

img.lazy-loaded {
  filter: blur(0em);
  transition: filter 1s;
}

.image-container {
  margin: 0 auto;
  max-width: 300px;
  text-align: center;
}

.title {
  text-align: center;
}